fastapi
uvicorn
pandas
numpy
scikit-learn
spacy
torch
transformers
openpyxl
joblib
tqdm
mlflow
requests
beautifulsoup4
newspaper3k
lxml_html_clean
playwright
dvc
google-cloud-storage
python-telegram-bot[webhooks]==22.8
python-dotenv

https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl